<app-header></app-header>

<ion-content class="ion-padding">

  <ion-card>

    <ion-card-header>
      <ion-card-title>
        FoodPlease
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <p>
        FoodPlease nació en 2026 como un proyecto universitario de 04 estudiantes de la Universidad Nacional Andres Bello (Unab) como parte de sus estudios en la carrera de Ingeniería en Computación e Informática.
      </p>

    </ion-card-content>

  </ion-card>

</ion-content>

<app-footer></app-footer>