<app-header></app-header>

<ion-content class="ion-padding">

  <div class="home-container">

    <ion-card routerLink="/categorias" class="home-card">

      <div class="icono">
        🍔
      </div>

      <h2>Categorías</h2>

      <p>
        Explora por tipo de comida
      </p>

    </ion-card>

    <ion-card routerLink="/locales/1" class="home-card">

      <div class="icono">
        🏪
      </div>

      <h2>Locales</h2>

      <p>
        Ver locales disponibles
      </p>

    </ion-card>

    <ion-card routerLink="/login" class="home-card">

  <div class="icono">
    👤
  </div>

  <h2>Ingresar</h2>

  <p>
    Inicia sesión en FoodPlease
  </p>

</ion-card>

    <ion-card routerLink="/nosotros" class="home-card">

      <div class="icono">
        👋
      </div>

      <h2>Nosotros</h2>

      <p>
        Información del proyecto
      </p>

    </ion-card>

  </div>

</ion-content>

<app-footer></app-footer>