ion-card {
    border-radius: 18px;
    overflow: hidden;
    text-align: center;
}

ion-card img {
    width: 100%;
    height: 120px;
    object-fit: cover;
}

ion-card-title {
    font-size: 16px;
    font-weight: bold;
}