.login-bg {
    --background: #ffffff;
}

.login-wrapper {
    display: grid;
    gap: 20px;
    padding: 20px;
}

.glass-card {
    border-radius: 22px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.18);
}

ion-card-title {
    color: #e60023;
    text-align: center;
}

.soporte-card {
    text-align: left;
}

@media (min-width: 768px) {
    .login-wrapper {
    grid-template-columns: 1fr 1fr;
    max-width: 1100px;
    margin: 0 auto;
    padding: 40px;
}
}