<ion-header>
  <ion-toolbar color="danger">

    <ion-title>
      FoodPlease
    </ion-title>

    <ion-buttons slot="end">

      <ion-button routerLink="/categorias" aria-label="Categorías">
        🍔
      </ion-button>

      <ion-button routerLink="/locales/1" aria-label="Locales">
        🏪
      </ion-button>

      <ion-button routerLink="/carrito" aria-label="Carrito">
        🛒
      </ion-button>

      <ion-button routerLink="/login" aria-label="Ingresar">
        👤
      </ion-button>

    </ion-buttons>

  </ion-toolbar>
</ion-header>